@font-face {
  font-family: "Dana";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Dana"), local("dana-fanum"),
    url("../static/fonts/dana-fanum-regular.woff2") format("woff2"),
    url("../static/fonts/dana-fanum-regular.eot"),
    url("../static/fonts/dana-fanum-regular.woff") format("woff");
}
